.filterItem {
    position: relative;
    &Btn {
        display: flex;
        width: 100%;
        color: var(--sub-color);
        font-size: 15px;
        font-family: inherit;
        transition: all 0.2s ease-in-out;
        padding: 3px;
        border-radius: 4px;
    }
    &:hover {
        .filterItemBtn {
            background-color: var(--notes-bg);
        }
    }
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &Icon {
        margin-right: 8px;
        svg {
            width: 18px;
            height: 18px;
        }
    }
    &Text {
        display: inline-flex;
        flex: 1 1 auto;
    }
}

.filterItemDraggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    // background-color: var(--notes-bg);
    border-radius: 0 4px 4px 0;
    z-index: 1;
}

.removeCategory {
    width: 14px;
    height: 14px;
    margin: 2px 0;
    z-index: 2;
    svg {
        path {
            transition: fill 0.2s ease-in-out;
        }
    }
    &:hover {
        svg {
            path {
                fill: #f84f4f;
            }
        }
    }
}